.App {
	text-align: center;
	background-color: #1a1a1a;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #222222;
	/* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
	color: #8a8a8a;
	margin: 2em;
	border-radius: 10px;
}
h1 {
	color: #ffaa00;
}
p {
	padding: 10px;
}
.Component-header {
	color: #0077ff;
}

.Component {
	background-color: #353535;
	margin: 2em;
	border-radius: 10px;
	color: #8a8a8a;
}
